body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.timer {
  width: 100vw;
  height: 100vh;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock-face {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  border-radius: 50%;
}

.hand {
  position: absolute;
  top: 36%;
  left: 50%;
}

.second-hand {
  width: 1px;
  height: 45%;
  background-color: red;
  transform-origin: 50% 100%;
}

.minute-hand {
  width: 3px;
  height: 45%;
  background-color: black;
  transform-origin: 50% 100%;
}

/* Placera menu-icon högst upp till vänster */
.menu-icon {
  position: absolute;
  top: 10px; /* Placera 10px från toppen */
  left: 10px; /* Placera 10px från vänster */
  width: 30px; /* Justera storleken på ikonen */
  cursor: pointer;
  z-index: 100; /* Se till att ikonen visas över andra element */
}

/* Anpassningar för mindre skärmar */
@media (max-width: 768px) {
  .timer {
    width: 300px;
    height: 300px;
  }

  .second-hand {
    height: 40%;
  }

  .minute-hand {
    height: 40%;
  }
}

@media (max-width: 480px) {
  body {
    margin: 10px;
  }

  .timer {
    width: 205px;
    height: 250px;
  }

  .second-hand {
    height: 11%;
  }

  .minute-hand {
    height: 11%;
    
  }
}
