.digital-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

.digital-timer h1 {
  font-size: 20px; /* Minska fontstorlek för mobil */
  text-transform: lowercase;
  letter-spacing: 1px; /* Justera avstånd */
  margin-bottom: 30px; /* Mindre marginal för mobil */
  color: #333;
}

.menu-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  cursor: pointer;
}

.digital-timer p {
  font-size: 120px; /* Minska fontstorlek för timer */
  font-weight: bold;
  margin-bottom: 80px; /* Justera marginaler */
  color: #fff;

}

.digital-timer button {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 8px 16px; /* Mindre padding för mobil */
  font-size: 54px; /* Mindre fontstorlek för mobil */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.digital-timer button:hover {
  background-color: #333;
  color: #fff;
}

.h1 {
  color: #fff;
}

.menu-icon {
  position: absolute;
  top: 10px; /* Placera 10px från toppen */
  left: 10px; /* Placera 10px från vänster */
  width: 30px; /* Justera storleken på ikonen */
  cursor: pointer;
  z-index: 100; /* Se till att ikonen visas över andra element */
}
/* Lägg till responsiv design för mindre skärmar */
@media (max-width: 768px) {
  .digital-timer h1 {
    font-size: 18px; /* Minska ännu mer för små skärmar */
  }

  .digital-timer p {
    font-size: 60px; /* Anpassa storlek för mindre skärmar */
    margin-bottom: 20px;
  }

  .digital-timer button {
    padding: 6px 12px; /* Mindre padding för små skärmar */
    font-size: 28px; /* Anpassa textstorlek */
  }
}

@media (max-width: 480px) {
  .digital-timer h1 {
    font-size: 16px; /* Ytterligare minskning för väldigt små skärmar */
  }

  .digital-timer p {
    font-size: 76px; /* Anpassa storlek för mycket små skärmar */
  }

  .digital-timer button {
    padding: 5px 10px; /* Ytterligare minskning av padding */
    font-size: 30px; /* Mindre textstorlek */
  }
}
